<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>USCIS Case Monitoring | H1 PERM I140 I485 F1 EXTENSION PROCESS STATUS TRACKING</title>
</head>
<body>
<div>
    <strong>The application can help you check USCIS case every 6 hours, and send you notification by email if status changes.</strong>
    <p>
        <a href="{{ login_url }}">Sign in with your Google Account</a>
    </p>
    <div>Privacy policy: Your email address is stored for notification purpose only. All data stores on <a href="https://cloud.google.com/appengine/">Google App Engine</a> servers.</div>
</div>
</body>
</html>